.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-label {
  margin-bottom: 0.3rem;
  color: #ccc;
  font-weight: 500;
}

.input-field {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
  background-color: #1e1e1e;
  color: white;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-field::placeholder {
  color: #555;
}

.input-field:focus {
  border: 1px solid #9b5de5;
  box-shadow: 0 0 0 2px rgba(155, 93, 229, 0.3);
}
